@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--textColor);
}
:root{
  --bodyColor :  #f2f1fa;
  --primaryColor : #6c5ce7;
  --focusColor: #5246a8;
  --secondaryColor : #a29bfe4f;
  --textColor : #2c3e50;
  --bgWhite : white;
  --bxShadow : rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
body{
  background-color: var(--bodyColor);
}
.container{
  max-width: 380px;
  margin: 0 auto;
}
.text-center{
  text-align: center !important;
}
.mb-2{
  margin-bottom: .5rem !important;
}
.mb-3{
  margin-bottom: 1rem;
}
.mt-2{
  margin-top: .5rem !important;
}
.mt-3{
  margin-top: 1rem !important;
}
.pb-2{
  padding-bottom: .5rem !important;
}
.pb-3{
  padding-bottom: 1rem;
}
.pt-2{
  padding-top: .5rem !important;
}
.pt-3{
  padding-top: 1rem !important;
}
.d-flex{
  display: flex !important;
}
.justify-center{
  justify-content: center !important;
}
.justify-between{
  justify-content: space-between !important;
}
.align-center{
  align-items: center !important;
}
.flex-wrap{
  flex-wrap: wrap !important;
}
.gap-2{
  gap: .5rem;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card{
  padding:1rem 1.5rem;
  background: var(--bgWhite);
  border-radius: 7px;
  box-shadow: var(--bxShadow);
}
.badge{
  width: fit-content;
  padding: .5rem 1rem;
  font-size: .8rem;
  background-color: var(--secondaryColor);
  border-radius: 99999999px;
  margin-bottom: .5rem;
}
.badge >*{
    color: var(--primaryColor);
}
.btn{
  width: fit-content;
  padding: .5rem 1rem;
  border: 1px solid var(--primaryColor);
  color: var(--textColor);
  background-color: var(--bgWhite);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn:hover{
  background-color: var(--primaryColor) ;
  color: var(--bgWhite);
}
.btn:active{
    background-color: var(--focusColor) !important ;
    color: var(--bgWhite);
}
h1{
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;
}
.w-25{
  width: calc(25% - 1rem);
}
.w-50{
  width: calc(50% - 1rem);
}
.w-75{
  width: calc(75% - 1rem);
}
.w-100{
  width: calc(100% - 1rem);
}

/*===========================
====== Responsive CSS =======
===========================*/

@media (min-width: 500px) {
  .container{
    max-width: 450px;
  }
}
@media (min-width: 640px) {
  .container{
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .container{
    max-width: 700px;
  }
  .w-md-25{
  width: calc(25% - 1rem);
}
.w-md-50{
  width: calc(50% - 1rem);
}
.w-md-75{
  width: calc(75% - 1rem);
}
.w-md-100{
  width: calc(100% - 1rem);
}
}

@media (min-width: 991px) {
  .container{
    max-width: 900px;
  }
}
@media (min-width: 1024px) {
  .container{
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container{
    max-width: 1200px;
  }
}